<ion-view view-title=" {{playa.name}} ">
  <ion-content>
    <div class="list card">
      <div class="item" id="header">{{playa.role.name}}</div>
      <div class="item" id="nonclickable-list">{{playa.role.desc}}</div>
    </div>
    <div class="list card">
      <div class="item" id="header">Learnable Moves</div>
      <div ng-repeat="moves in playa.mvpl">
        <ion-item class="item" id="clickable-list"
        ng-click="toggleGroup(moves)" ng-class="{active: isGroupShown(moves)}">
          M{{moves}}: {{Moves.getMove(moves).name}}
        </ion-item>
        <div class="item-accordion" ng-show="isGroupShown(moves)" id="expanded-list">
          <div class="item" id="expanded-list">{{Moves.getMove(moves).desc}}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
