<ion-view view-title="V 1.1 Match-ups" id="bright">
<div>
  <ion-pane>
    <ion-content>
      <div class="list list-inset">
        <!-- creates drop down selection for primary typing-->
        <label class="item item-input item-select" id="type-selection">
          <div class="input-label" id="type-selection" >Type 1:</div>
          <select ng-model="selectedType" id="type-selection" ng-change="calculateAll(selectedType)">
            <!--option value="" selected >Choose a type</option-->
            <option ng-repeat="type in Types">{{type.name}}</option>
          </select>
        </label>
      </div>
      <!-- cards for imm, weak, and res-->
      <div class=" list card">
        <div class="item item-divider" id="weak-card">WEAK TO:</div>
        <div class="item" id="weak" ng-repeat="types in weaknesses">
          {{types}}
        </div>
      </div>
      <div class=" list card">
        <div class="item item-divider" id="resist-card">RESISTS:</div>
        <div class="item" id="resist" ng-repeat="types in resistances">
          {{types}}
        </div>
      </div>
      <div class=" list card">
        <div class="item item-divider" id="neutral-card">NEUTRAL TO:</div>
        <div class="item" id="neutral" ng-repeat="types in neutralities">
          {{types}}
        </div>
      </div>
    </ion-content>
  </ion-pane>
</div>
</ion-view>
