	.pane {
    background-color: #0A1719;
}

.custom-dark{
		background-color: #0F425A!important;
		border-color: #0A1719;
		color: #FFFFFF;
}

.white{
		color: #FFFFFF;
}
#left-menu-head{
		background-color: #0F425A;
		border-color: #0A1719;
		color: #FFFFFF;
}

#left-menu-body{
		background-color: #0A1719;
}

#bright {
		color: #FFFFFF;
}

#left-menu {
		background-color: #0A1719;
		color: #FFFFFF;
}

#type-selection {
    background-color: #FFFFFF;
    color: #0A1719;
    border-color: #0A1719;
}

#header {
    background-color: #0F425A;
    color: #FFFFFF;
    border-color: #0A1719;
		text-align: center;
}
#matchup-body {
    background-color: #A2B6BF	;
    color: #0A1719;
    border-color: #0A1719;
		text-align: center;
}

#clickable-list {
		border-color: #0A1719;
		color: #0A1719;
		background-color: #FFFFFF;
}

#nonclickable-list {
		background-color: #A2B6BF;
		color: #0A1719;
		border-color: #0A1719;
		text-align: center;
		white-space: normal;
}

#expanded-list {
		background-color: #0A1719;
		color: #FFFFFF;
		white-space: normal;
}


#h1 {
    text-align: center;
}


.card-aggressive .item{
  background-color: aggressive;
}
