	.pane {
    background-color: #0A1719;
}

.custom-dark{
		background-color: #0F425A!important;
		border-color: #0A1719;
		color: #FFFFFF;
}

#left-menu-head{
		background-color: #0F425A;
		border-color: #0A1719;
		color: #FFFFFF;
}

#left-menu-body{
		background-color: #0A1719;
}

#bright {
		color: #FFFFFF;
}

#left-menu {
		background-color: #0A1719;
		color: #FFFFFF;
}

#type-selection {
    background-color: #FFFFFF;
    color: #0A1719;
    border-color: #0A1719;
}

#matchup-header {
    background-color: #0F425A;
    color: #FFFFFF;
    border-color: #0A1719;
		text-align: center;
}
#matchup-body {
    background-color: #A2B6BF	;
    color: #0A1719;
    border-color: #0A1719;
		text-align: center;
}

#players {
		border-color: #0A1719;
		color: #0A1719;
		background-color: #FFFFFF;

}

#h1 {
    text-align: center;
}

.card-aggressive .item{
  background-color: aggressive;
}
